{% form_theme form 'bootstrap_4_layout.html.twig' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WinScript{% endblock %}</title>
        {% block stylesheets %}
        	<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
       		<link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% endblock %}
	{% block body %}
	<div class="container">
		<h1 class="intro">Inscription !</h1>


		{{ form_start(form) }}

		{{ form_row(form.username, {'label': 'Nom d\'utilisateur','attr':{'placeholder': 'Nom d\'utilisateur'}}) }}

		{{ form_row(form.password, {'label': 'Mot de passe', 'attr':{'placeholder': 'Mot de passe'}}) }}
		
		{{ form_row(form.confirm_password, {'label': 'Confirmation', 'attr':{'placeholder': 'Confirmez votre mot de passe '}}) }}
		
		{{ form_row(form.radio, {'attr':{'placeholder': 'Nom de votre media'}}) }}

		{{ form_widget(form) }}

		<button type="submit" class="btn btn-success">Enregistrer !</button>
		<a href="{{ path('login')}}"class="btn btn-info">Annuler</a>

		{{ form_end(form) }}
	</div>
	{% endblock %}
	 <footer class="footer mt-5 ">
        <div class="container">
          <span class="text-muted"><center>WinScript 2018.</center></span>
        </div>
      </footer>
      {% block javascripts %}{% endblock %}
    </body>
</html>
