{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modifier vos informations{% endblock %}

{% block body %}
	
	<div class="container form">
    	<h1 class="intro">Modifier vos informations</h1>
    <div class="line-title"></div>
    	{{ form_start(form) }}

    	{{ form_row(form.password, {'label': 'Mot de passe', 'attr':{'placeholder': 'Mot de passe'}}) }}
		
		{{ form_row(form.confirm_password, {'label': 'Confirmation', 'attr':{'placeholder': 'Confirmez votre mot de passe '}}) }}

		{{ form_row(form.radio, {'attr':{'placeholder': 'Nom de votre media'}}) }}

		{{ form_row(form.version, {'label': 'Version de votre logiciel'}) }}

    	{{ form_widget(form) }}

    		<button type="submit" class="btn btn-success mt-4">Sauvegarder !</button>

    	{{ form_end(form) }}
    </div>
{% endblock %}
