{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="intro">Formulaire de génération de script</h1>
    <form action="{{path('traitement_script')}}" method="post">
    <div class="row">
        {% for key,field in fields %}
            <div class="col-sm-4">
                <label for="champ{{key}}">Champ {{key}}</label>
                    <select name="champs[{{key}}]" id="champ{{key}}">
                        <option value="">Sélectionnez un champ</option>
                        {{options|raw}}
                    </select>
            </div>
        {% endfor %}
            <div class="col-sm-4">
                <label for="champ{{fields|length}}">Champ personnalisé</label>
                <input type="text" name="champs[{{fields|length}}]" id="champ{{fields|length}}">     
            </div>
            <div class="col-sm-4">
                <label for="champ{{fields|length}}">Lien URL</label>
                <input type="text" name="champs[{{fields|length}}]" id="champ{{fields|length}}">     
            </div>
    </div>
    <br /><button type="submit" class="btn btn-success">Générer</button>
        <a href="{{ path('type')}}"class="btn btn-info">Retour</a>
        <input name="type" type="hidden" value="{{type}}">
    </form>
{% endblock %}
